{% extends 'header.html' %}


{% block content %}

<!-- About page structure -->
<div class="container">
    <h2 class="text-center my-4 About_title">ABOUT PROJECT</h2>
    <hr style="color: white;">
    <div class="About_all">
        <h3 class="text-center my-3 About_title">Abstract</h3>
        <div class="About_project">
            <p class="About_content">Number plate detection (NPD) is one such innovative mechanism that identifies a specific part on the vehicle license plate and understands the characters using advanced technologies. It is one of the key functions of intelligent transportation systems. It can be used in various fields such as automatic payment of tolls on highways or bridges, surveillance systems, tolls collection points, and parking management systems. This application will be capable of reading vehicle number plates. It will detect the number plate on a vehicle, and give the vehicle number as a string.

            </p>
        </div>
        <br>
        <br>
        <h3 class="text-center my-3 About_title">Data Required</h3>
        <!-- <hr style="color: white;"> -->
        <div class="data_container">
            <div class="Data_details">
                <ul>
                    <li><strong>Pregnancies</strong>
                        <pre> : </pre> Number of times pregnant
                    </li>
                    <li><strong>Glucose</strong>
                        <pre> : </pre> Plasma glucose concentration a 2 hours in an oral glucose tolerance test
                    </li>
                    <li><strong>BloodPressure</strong>
                        <pre> : </pre> Diastolic blood pressure (mm Hg)
                    </li>
                    <li><strong>SkinThickness</strong>
                        <pre> : </pre> Triceps skin fold thickness (mm)
                    </li>
                    <li><strong>Insulin</strong>
                        <pre> : </pre> 2-Hour serum insulin (mu U/ml)
                    </li>
                    <li><strong>BMI</strong>
                        <pre> : </pre> Body mass index (weight in kg/(height in m)^2)
                    </li>
                    <li><strong>DiabetesPedigreeFunction</strong>
                        <pre> : </pre> Diabetes pedigree function
                    </li>
                    <li><strong>Age</strong>
                        <pre> : </pre>Age (years)
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
