{% extends 'header.html' %}


{% block content %}

<!-- About page structure -->
<div class="container">
    <h2 class="text-center my-4 About_title">ABOUT PROJECT</h2>
    <hr style="color: white;">
    <div class="About_all">
        <h3 class="text-center my-3 About_title">Abstract</h3>
        <div class="About_project">
            <p class="About_content">The Project generally deals with the diagonostics of a particular person who wants
                himself/herself to diagnose against diabetic symptoms.Some sample dataset is collected from trusted
                resources like Kaggle and the data collected is analysed for better understanding aboud different terms
                involved in it.With the knowledge of data and different factors involved in it data is preprocessed
                using several techniques like ONE HOT encoding,Measures of central tendency etc... to obtain a clean and
                quality dataset for training and developing a Machine learning model based on algorithms like Logistic
                regression,SVM(Support vector machine) etc... to classify training dataset result into diabetic and
                non-diabetic classes.Different metrices are also used for random sampling of data available and models
                are trained iteratively to achieve better accuracy.Finally the model with best accuracy is selected and
                deployed.People can provide some necessary data to the model and predict if they seems to be diabetic or
                not.
            </p>
        </div>
        <br>
        <br>
        <h3 class="text-center my-3 About_title">Data Required</h3>
        <!-- <hr style="color: white;"> -->
        <div class="data_container">
            <div class="Data_details">
                <ul>
                    <li><strong>Pregnancies</strong>
                        <pre> : </pre> Number of times pregnant
                    </li>
                    <li><strong>Glucose</strong>
                        <pre> : </pre> Plasma glucose concentration a 2 hours in an oral glucose tolerance test
                    </li>
                    <li><strong>BloodPressure</strong>
                        <pre> : </pre> Diastolic blood pressure (mm Hg)
                    </li>
                    <li><strong>SkinThickness</strong>
                        <pre> : </pre> Triceps skin fold thickness (mm)
                    </li>
                    <li><strong>Insulin</strong>
                        <pre> : </pre> 2-Hour serum insulin (mu U/ml)
                    </li>
                    <li><strong>BMI</strong>
                        <pre> : </pre> Body mass index (weight in kg/(height in m)^2)
                    </li>
                    <li><strong>DiabetesPedigreeFunction</strong>
                        <pre> : </pre> Diabetes pedigree function
                    </li>
                    <li><strong>Age</strong>
                        <pre> : </pre>Age (years)
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock content %}